.canvasWrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    gap: 20px;
}

.sideCountContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.canvas {
    display: flex;
    flex-flow: column;
    background-color: white;
    border: 5px solid black;
    border-radius: 20px;
    height: 75%;
    aspect-ratio: 1 / 1;
}

.formatRow {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    flex: auto;
}

.formatSquares {
    box-sizing: border-box;
    margin: 0;
    border: 1px solid black;
    flex: auto;
}