/* to do - body formatting (center) and remove square positioning */

.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

.canvas {
    background-color: white;
    border: 5px solid black;
    border-radius: 20px;
    height: 75%;
    aspect-ratio: 1 / 1;
}

.formatSquares {
    box-sizing: border-box;
    margin: 0;
    border: 2px solid black;
}

.formatRow {
    box-sizing: border-box;
    display: flex;
    margin: 0;
}